.intro-innerbox {
    padding: 30px;
    background-color: rgb(43, 50, 64);
    color: white;
    border-radius:8%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

html {
    background-color: #1b2029;
}

body {
    font-family: 'League Spartan'; 
    font-size: 17px;
}

.title {
    padding-top: 10px;
    display: flex;
    align-items: center;
    position: relative;
}

.intro {
    padding-left:20px;
}

.intro-type {
    padding-left:20px;
}

.headshot {
    border-radius: 50%;
    height: 100;
    
}

.about {
    padding: 10px;
    background-color: rgba(40, 37, 37, 0.979);
    font-family: monospace;
    list-style-type: none;
    line-height: 1;
    font-size:15px;
}

.about-value {
    color:rgb(205, 96, 255);
    display: inline-block;
}

.about-row {
    padding: 3px 5px 3px 20px; 
    border-left: 1px solid rgb(73, 72, 62);
}

.about-collection {
    color:rgb(126, 210, 243);
    display: inline-block;
}

.about-item-count {
    color:rgba(171, 172, 171, 0.438);
    display: inline-block;

}

.resume_button {
    background-color: rgb(66, 140, 170);
    color: rgb(255, 255, 255);
    border-radius: 8px;
    height: 40px;
    width: 80px;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    display: inline-block;
    margin-left: auto;
    border:none;
    position: absolute;
    top: 35px;
    right: 0;
}

.icon {
    padding: 5px;
    font-size: 20px;
    color:rgba(217, 193, 228, 0.699);
}

.icon a {   
    text-decoration: none; 
    color: inherit; 
}

.collapsible {
    border:none;
    background-color: rgba(40, 37, 37, 0.979);
    text-decoration: none;
    color:rgb(219, 206, 25);
    cursor: pointer;
}

/* Style the button that is used to open and close the collapsible content */
.collapsible-all {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }
  
/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
.active, .collapsible:hover {
    /*background-color: #ccc;*/
}

/* Style the collapsible content. Note: hidden by default */
.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
}

.work-outterbox {
    display:flex;
    background-color: rgb(33, 38, 49);
    color: white;
    border-radius:8%;
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
    padding:30px;
    padding-top:10px;
    padding-left:20px;
    padding-bottom:10px;
    
}

.work-innerbox-left {
    padding-top: 30px;
    padding-right:10px;
}

.work-innerbox-right {
    border-radius:8%;
    flex: 1;
    padding: 20px;
    background-color: rgb(43, 50, 64);
    color: white;
    margin-left: auto;
    margin-right: auto;
    

}

.work-boxtitle {
    padding-top:10px;
    font-size: 20px;
    font-style: bold;
}

.workexperience {
    display: flex;
    padding: 10px;
    background-color: rgb(33, 38, 49);
    list-style-type: none;
    line-height: 1;
    font-size:15px;
    transition: background-color 0.3s ease; /* Add this line */
    border-radius: 5%;
}
.work-name-selection {
    padding-top:15px;
    padding-left:7px;
}

.work-logo-selection {
    height:35px;
}

.workexperience:hover {
    background-color: rgba(46, 56, 100, 0.363); /* Replace with your desired color */
}

.work-header {
    display: flex;
    align-items: start;
}

.work-logo {
    height:70px;
    
}

.work-details-container {
    display: block;
    padding-left:20px
}

.work-details {
    color:rgba(255, 255, 255, 0.349);
}

.work-description {
    padding-top:10px;
}

.technology-container {
    display: flex;
    padding: 20px;
    gap:3px;
}

.technology-box {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 6%;
    height: 35px;
    padding:0 7px;
    line-height: 2;
    background-color: rgb(33, 38, 49);
    color: rgb(255, 255, 255);
    font-size: 17px;
}

.active-tab {
    background-color: rgba(46, 56, 100, 0.747); /* Or any other style you want to apply to the active tab */
}